
<html lang="en" xmlns:th="http://www.thymeleaf.org">
</html>

@RequestParam("from") @DateTimeFormat(pattern="yyyy-MM-dd") Date fromDate) {

@Id @GeneratedValue(strategy=GenerationType.IDENTITY) long id;

th:href="@{/main/main.html}"

th:classappend="${isAdmin} ? adminclass : userclass"

<span th:text="${ #numbers.formatInteger( item.rowNumer, 0,'COMMA' ) }">1</span>

<td th:text="${ #dates.format(sprint.releaseDate, 'dd-MMM-yyyy') }"></td>

<td th:text="${ #dates.format(sprint.releaseDate, 'yyyy-MM-dd hh:mm:ss') }"></td>

<a th:href="@{/order/{id}/details(id=3,action='show_all')}">

<tr th:each="item, i : ${users}" class="article_row"  >

<link id="bsdp-css" href="bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<script src="bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="bootstrap-datepicker/js/locales/bootstrap-datepicker.kr.min.js" charset="UTF-8"></script>

$('#sandbox-container input').datepicker({
});    

