
<nav th:fragment="header_01" class="navbar fixed-top navbar-expand-lg bg-primary text-center p-0">

    <div class="container justify-content-center text-nowrap">
        <div class="row">
            <div class="col">
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td class="align-middle">
                                <a th:href="@{/main/main.html}" class="text-muted" href="#" >
                                    <img src="../rsc/psdr-custom/img/logo_001_procom.png" alt="logo">
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/main/list.html}" class="text-muted" href="#">
                                    <p class="display-4 font-weight-bold d-inline-block mb-0 align-center pl-2" style="color:#083358">FDW</p>
                                </a>
                                &nbsp;
                            </td>
                            <td></td>

                            <td class="text-left">
                                <img src="../rsc/psdr-custom/img/logo_002_psdr.png" alt="name_img" style="height: 20px;">
                                <br/>
                                <img src="../rsc/psdr-custom/img/logo_003_fdw.png" alt="name_img" style="height: 22px;">
                            </td>
                            <td>
                                &nbsp;
                                <a th:href="@{/gen/about.html}" class="text-muted" href="#">
                                    <img src="../rsc/psdr-custom/img/product.png" alt="product" style="height: 62px;">
                                </a>
                            </td>

                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>

</nav>

<nav th:fragment="header_02" class="navbar fixed-top navbar-expand-lg bg-light p-0 pt-1" style="margin-top: 68px">

    <div class="container justify-content-center p-0">
        <div class="row">
            <div class="col">
                <table class="text-nowrap" style="vertical-align: center; margin-top: 8px;">
                    <tbody>
                        <tr>
                            <td>
                                <h5 class=" font-weight-bold text-primary p-0 m-0"> 경기지역본부 </h5>

                            </td>
                            <td>
                                <h5 class="card-title text-dark font-weight-bold p-0 mb-0">
                                    &nbsp;성남전력지사 &nbsp;&nbsp;
                                </h5>
                            </td>

                            <td class="text-left">
                                <h6 class="card-body p-0 m-0 text-dark">
                                    <i class="far fa-clock"></i> &nbsp;
                                    <span>2018-07-25 14:25</span>
                                </h6>
                            </td>
                            <td class="text-left">
                                <h6 class="card-body p-0 m-0 text-dark">
                                    <i class="far fa-user"></i> &nbsp; 접속자 :
                                    <span>1,234</span>명
                                </h6>
                            </td>
                            <td class="text-left">
                                <h6 class="card-body p-0 m-0 text-dark">
                                    <i class="fa fa-download"></i> &nbsp; 다운로드 :
                                    <span>2,345</span>건
                                </h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <h3 class="card-title text-warning font-weight-bold mb-0 "> 154kV 중원 변전소 &nbsp;</h3>
                            </td>
                            <td colspan="2" class="text-left">
                                <h6 class="card-body p-0 m-0">
                                    <i class="far fa-bell "></i>
                                    &nbsp; 
                                    <a th:href="@{/article/list.html}" class="text-muted" href="#">
                                        공지사항 :
                                        <span> 홈페이지가 오픈되었습니다.</span>
                                    </a>
                                </h6>
                            </td>
                            <td th:if="${ loginUser_id }" class="text-right">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="far fa-user"></i>
                                    <span th:text="${ loginUser_id }" >접속 아이디</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDd">
                                    <a th:href="@{/user/logout.html}" class="dropdown-item" href="#">
                                        로그 아웃
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a th:href="@{/user/info.html}" class="dropdown-item" href="#">
                                        사용자 정보
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</nav>